/.vagrant/
/vendor/

/etc/*
!/etc/defaults.rb
!/etc/conf.d/

/etc/conf.d/*
!/etc/conf.d/cloud.etc/
!/etc/conf.d/demo.etc/

/etc/conf.d/cloud.etc/*
!/etc/conf.d/cloud.rb
!/etc/conf.d/cloud.etc/config.rb.sample
!/etc/conf.d/cloud.etc/configure.sh
!/etc/conf.d/cloud.etc/defaults.rb
