/.vagrant/
/vendor/

/etc/*
!/etc/defaults.rb
!/etc/conf.d/

/etc/conf.d/*
!/etc/conf.d/cloud/
!/etc/conf.d/demo.etc/

/etc/conf.d/cloud/*
!/etc/conf.d/cloud.rb
!/etc/conf.d/cloud/config.rb.sample
!/etc/conf.d/cloud/configure.sh
!/etc/conf.d/cloud/defaults.rb
